language: php
php:
  - 7.3
services:
  - mysql
before_script:
  - cp .env.travis .env
  - mysql -e 'create database testing;'
  - composer self-update
  - composer install --no-interaction
  - php artisan key:generate
  - php artisan migrate --seed
  - php artisan passport:install
script:
  - vendor/bin/phpunit

